{% extends 'main/layout.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href={% static "main/css/create.css" %}>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="create_container white">
	<form action="{% url 'create' %}" method="POST">
		{% csrf_token %}
		<div class="input-field">
			<input type="text" name="title">
			<label for="title">Title</label>
		</div>
		<div class="input-field">
			<input type="text" name="description">
			<label for="description">Description</label>
		</div>

        <table id="table">
        <tr>
			<td>Ingredient</td>
			<td>Quantity</td>
			<td>Unit</td>
        </tr>       
		<tr id="example">
			<td>
				<!-- <input type="text" name="ingredient" placeholder="Enter your ingredient" id="autocomplete-input" class="autocomplete"> -->
				<div class="input-field">
					<input type="text" name="ingredient" placeholder="Enter your ingredient" id="autocomplete-input" class="autocomplete">
				</div>
			</td>   
			<td><input type="text" name="quantity" placeholder="Enter your quantity"></td>
			<td class="input-field col s10">
				<select name="unit">
					<option value="" disabled selected>Choose the unit</option>
					<option value="1" name="">cup(s)</option>
					<option value="2" name="">kg</option>
					<option value="3" name="">grams</option>
					<option value="4" name="">lbs</option>
					<option value="5" name="">ounces</option>
					<option value="6" name="">ml</option>
					<option value="7" name="">units</option>
					<option value="8" name="">tbsp</option>
					<option value="9" name="">tsp</option>
					<option value="10" name="">handfuls</option>
				</select>
			</td>	 
		</tr>
		</table>
		<button onclick="table()" class='waves-effect waves-light btn' type="button">Add another Ingredient</button>
	
       

        <!-- utensils -->
        <h3>Utensils</h3>

        {% for utensil in utensils%}
        <label>
			<input type="checkbox" value="{{utensil}}" name="utensil"/>
			<span>{{utensil}}</span>
        </label>
        {% endfor %}

		<!-- Tags -->
        <h3>Tags</h3>
		<div class="chips chips-autocomplete" id="chip"></div>
		<div class="time">
			<h3>Time</h3>
			<input type="text" name="time">
		</div>

		<!-- steps -->
		<div id="steps">
			<h3> Steps</h3>
			<!-- <input type="text"  name=step id="in"> -->
		</div>
		<button onclick="addSteps()" class='waves-effect waves-light btn' type="button">Add a step</button>
		<button type="submit" onclick="addChips()">Submit Changes</button>
	</form>
		
</div>
{% endblock %}

{%block javascript %}
<script src={% static "main/js/create.js" %}></script>

<script>
	function loadAutoComplete()
	{
		$('input.autocomplete').autocomplete({
			data: {
				{% for ing in ingredients%}
				"{{ing.name}}": null,
				{% endfor %}
			},
		});
	}

	$(document).ready(function(){
		loadAutoComplete();
	});
</script>
{% endblock%}