{% extends 'main/layout.html' %}
{% block stylesheet %}


<link rel="stylesheet" href="static/main/css/create.css">
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<div class="create_container blue">
        <label for="title"></label>
        <input type="text" name="title" placeholder="Enter your title">

        <table id="table">
        <tr>
				<td>Ingredient</td>
				<td>Quantity</td>
				<td>Unit</td>
        </tr>       
		<tr id="example">
			<td><input type="text" name="ingredient" placeholder="Enter your ingredient"></td>   
			<td><input type="text" name="quantity" placeholder="Enter your quantity"></td>
			<td><input type="text" name="unit" placeholder="Enter the unit"></td>	 
		</tr>
		</table>
		<button onclick="table()" class='waves-effect waves-light btn'>Add another Ingredient</button>
       

        <!-- utensils -->
        <h3>utensils</h3>

        {% for utensil in utensils%}
        <label>
                <input type="checkbox" value="{{utensil}}"/>
                <span>{{utensil}}</span>
        </label>
        {% endfor %}

        <h3>key words</h3>

        <div class="chips chips-autocomplete" id="chip"></div>

        <!-- steps -->
</div>



{% endblock %}

{%block javascript %}
<script src="static/main/js/create.js"></script>
{% endblock%}