{% extends 'main/layout.html' %}
{% load static %}
{% load pass_params %}

{% block title %}Edit Recipes{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href={% static "main/css/edit.css" %}>
<link rel="stylesheet" href={% static "main/css/gallery-materialize.min.css" %}>
{% endblock %}

{% block content %}





<div class="edit_background">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="edit_card_action">
        <a href="{% url 'Home' %}" class="btn-floating btn-large waves-effect teal lighten-2"><i class="material-icons">close</i></a>
    </div>
<div class="edit_card">


    <div class="title-wrapper">
		<h3 id="edit_title">{{recipe.title}} <i class="small material-icons icon-teal">edit</i></h3>

		<div id="title_modal" class="modal">
			<div class="modal-content">
				<h4>Edit Title</h4>
				<br>
				<div class="input-field">
					<input type="text" name="title" value="{{recipe.title}}">
					<label for="title">Title</label>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn">Save</a>
			</div>
		</div>                          
	</div>
    <p class="description" id="edit_description">
            {{recipe.description}} <i class="small material-icons icon-teal">edit</i>
    </p>
    <div id="description_modal" class="modal">
		<div class="modal-content">
			<h4>Edit Description</h4>
			<br>
			<div class="input-field">
				<input type="text" name="description" value="{{recipe.description}}">
				<label for="description">Description</label>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn">Save</a>
		</div>
	</div>
    <div id="edit_ingredients">
        <h4>Ingredients <i class="small material-icons icon-teal">edit</i></h4>
        <div class="ingredients_table_card">
            {% for ing in recipe.recipetoingredient_set.all %}
                <label>
                    <input type="checkbox" value="{{ing.ingredient.name}}" name="ingredients"/>
                        <span>{{ing.quantity}} {{ing.get_unit}} {{ing.ingredient.name}}  </span>
                </label>
            {% endfor %}
        </div>
    </div>
    <div id="ingredients_modal" class="modal ing_modal">
		<div class="modal-content">
			<h4>Edit Ingredients</h4>
			<br>
			<div class="ingredients_table_modal">
				{% for ing in recipe.recipetoingredient_set.all %}
	               
	            

					<div class="input-field">
						<input type="text" name="ingredient" placeholder="Enter your ingredient" id="autocomplete-input" class="autocomplete" value="{{ing.ingredient.name}}">
						<label for="ingredient">Ingredient</label>
					</div>
					<div class="input-field">
						<input type="text" name="quantity" placeholder="Enter your quantity" value="{{ing.quantity}}">
						<label for="quantity">Quantity</label>
					</div>
					<div class="input-field">
						<select id="ing_select" name="unit" value="{{ing.unit}}">
							<option value="" disabled selected>Choose the units</option>
							{% if ing.unit == 1 %}
								<option value="1" name="" selected>cup(s)</option>
							{% else %}
								<option value="1" name="">cup(s)</option>
							{% endif %}

							{% if ing.unit == 2 %}
								<option value="2" name="" selected>kg</option>
							{% else %}
								<option value="2" name="">kg</option>
							{% endif %}

							{% if ing.unit == 3 %}
								<option value="3" name="" selected>grams</option>
							{% else %}
								<option value="3" name="">grams</option>
							{% endif %}

							{% if ing.unit == 4 %}
								<option value="4" name="" selected>lbs</option>
							{% else %}
								<option value="4" name="">lbs</option>
							{% endif %}

							{% if ing.unit == 5 %}
								<option value="5" name="" selected>ounces</option>
							{% else %}
								<option value="5" name="">ounces</option>
							{% endif %}

							{% if ing.unit == 6 %}
								<option value="6" name="" selected>ml</option>
							{% else %}
								<option value="6" name="">ml</option>
							{% endif %}

							{% if ing.unit == 7 %}
								<option value="7" name="" selected>units</option>
							{% else %}
								<option value="7" name="" >units</option>
							{% endif %}

							{% if ing.unit == 8 %}
								<option value="8" name="" selected>tbsp</option>
							{% else %}
								<option value="8" name="">tbsp</option>
							{% endif %}

							{% if ing.unit == 9 %}
								<option value="9" name="" selected>tsp</option>
							{% else %}
								<option value="9" name="">tsp</option>
							{% endif %}

							{% if ing.unit == 10 %}
								<option value="10" name="" selected>handfuls</option>
							{% else %}
								<option value="10" name="">handfuls</option>
							{% endif %}

						</select>
						<label for="unit"> Unit</label>
					</div>
				{% endfor %}

			</div>
			<br>

			<a href="#!" class="modal-close waves-effect waves-green modal_save_btn right btn">Save</a>
		</div>

			

	</div>
    <br>
    <div id="edit_utensils">
	    <h4>Utensils <i class="small material-icons icon-teal">edit</i></h4>
	    <div class="utensils_table_card">
	          {% for utensil in recipe.utensils.all %}
	                <label>
	                    <input type="checkbox" value="{{utensil.name}}" name="utensils"/>
	                        <span>{{utensil.name}}  </span>
	                </label>
	            {% endfor %}
	    </div>
    </div>
    <div id="utensils_modal" class="modal">
		<div class="modal-content">
			<h4>Edit Utensils</h4>
			<br>

			<div class="utensils_modal_table"></div>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn">Save</a>
		</div>
	</div>
    <div id="edit_steps">
	    <h4>Method <i class="small material-icons icon-teal">edit</i></h4>
	    <div class="recipe_steps">
	        {% for step in recipe.steps.all %}
	                <span >{{step.stepNumber}}.</span>
	                <span>{{step.text}}  </span>
	               
	        {% endfor %}

	    </div>
    </div>
    <div id="method_modal" class="modal">
		<div class="modal-content">
			<h4>Edit Method</h4>
			<br>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn">Save</a>
		</div>
	</div>
    

</div>
</div>
    
                
   
{% endblock %}

{% block javascript %}
<script src={% static "main/js/hearted.js" %}></script>
<script>
	function loadAutoComplete()
	{
		$('input.autocomplete').autocomplete({
			data: {
				{% for ing in ingredients%}
				"{{ing.name}}": null,
				{% endfor %}
			},
			limit:3,
		});
	}

	$(document).ready(function(){
		loadAutoComplete();
	});
</script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src={% static "main/js/gallery/materialize.min.js" %}></script>
<script src={% static "main/js/gallery/masonry.pkgd.min.js" %}></script>
<script src={% static "main/js/gallery/galleryExpand.js" %}></script>
<script src={% static "main/js/gallery/init.js" %}></script>
<script src={% static "main/js/gallery/color-thief.min.js" %}></script>
<script src={% static "main/js/gallery/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "main/js/edit.js" %}></script>


{% endblock %}