{% extends 'main/layout.html' %}
{% load static %}
{% load pass_params %}

{% block title %}Edit Recipes{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href={% static "main/css/edit.css" %}>
<link rel="stylesheet" href={% static "main/css/gallery-materialize.min.css" %}>
{% endblock %}

{% block content %}





<div class="edit_background">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="edit_card_action">
        <a class="btn-floating btn-large waves-effect teal lighten-2"><i class="material-icons">close</i></a>
    </div>
<div class="edit_card">


    <div class="title-wrapper">
		<h3 id="edit_title">{{recipe.title}} <i class="small material-icons icon-teal">edit</i></h3>

		<div id="title_modal" class="modal">
			<div class="modal-content">
				<h4>Modal Header</h4>
				<p>A bunch of text</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>                          
	</div>
    <p class="description" id="edit_description">
            {{recipe.description}} <i class="small material-icons icon-teal">edit</i>
    </p>
    <div id="edit_ingredients">
        <h4>Ingredients <i class="small material-icons icon-teal">edit</i></h4>
        <div class="ingredients_table_card">
            {% for ing in recipe.recipetoingredient_set.all %}
                <label>
                    <input type="checkbox" value="{{ing.ingredient.name}}" name="ingredients"/>
                        <span>{{ing.quantity}} {{ing.get_unit}} {{ing.ingredient.name}}  </span>
                </label>
            {% endfor %}
        </div>
    </div>
    <br>
    <div id="edit_utensils">
	    <h4>Utensils <i class="small material-icons icon-teal">edit</i></h4>
	    <div class="utensils_table_card">
	          {% for utensil in recipe.utensils.all %}
	                <label>
	                    <input type="checkbox" value="{{utensil.name}}" name="utensils"/>
	                        <span>{{utensil.name}}  </span>
	                </label>
	            {% endfor %}
	    </div>
    </div>
    <div id="edit_steps">
	    <h4>Method <i class="small material-icons icon-teal">edit</i></h4>
	    <div class="recipe_steps">
	        {% for step in recipe.steps.all %}
	                <span >{{step.stepNumber}}.</span>
	                <span>{{step.text}}  </span>
	               
	        {% endfor %}

	    </div>
    </div>
    

</div>
</div>
    
                
   
{% endblock %}

{% block javascript %}
<script src={% static "main/js/hearted.js" %}></script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src={% static "main/js/gallery/materialize.min.js" %}></script>
<script src={% static "main/js/gallery/masonry.pkgd.min.js" %}></script>
<script src={% static "main/js/gallery/galleryExpand.js" %}></script>
<script src={% static "main/js/gallery/init.js" %}></script>
<script src={% static "main/js/gallery/color-thief.min.js" %}></script>
<script src={% static "main/js/gallery/imagesloaded.pkgd.min.js" %}></script>
<script src={% static "main/js/edit.js" %}></script>


{% endblock %}