<!-- {% extends 'main/layout.html' %} -->
{% load static %}

{% block title %}Cooking {{recipe.title}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href={% static "main/css/finish_recipe.css" %}>
<link rel="stylesheet" href={% static "main/css/mstepper.css" %}>
{% endblock %}
{% block content %}
	<!-- <br>
	<br>
	<br>
	<br>
	<br> -->
<head>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
	<div class="ending_container">
		<div class="box_container">
			<div class="message">
				<h6>Great job! You completed:</h6>
				<h6>{{recipe.title}}</h6>
			</div>
			<h5 class="feedback_msg"> Rate {{recipe.title}}</h5>
			<div class="star">
				<img src="../../static/main/img/star2.svg" class="star3 stars" alt="">
				<img src="../../static/main/img/star2.svg" class="star2 stars" alt="">
				<img src="../../static/main/img/star2.svg" class="star1 stars" alt="">
				<img src="../../static/main/img/star2.svg" class="star2 stars" alt="">
				<img src="../../static/main/img/star2.svg" class="star3 stars" alt="">
			</div>
			<h5 class="feedback_msg">How difficult was this recipe?</h5>
			<div class="difficulty">
					<img src="../../static/main/img/bc2.svg" class="star3 cakes" alt="">
					<img src="../../static/main/img/bc2.svg" class="star2 cakes" alt="">
					<img src="../../static/main/img/bc2.svg" class="star1 cakes" alt="">
					<img src="../../static/main/img/bc2.svg" class="star2 cakes" alt="">
					<img src="../../static/main/img/bc2.svg" class="star3 cakes" alt="">
			</div>
			<div class="bottom_button">
				<a class="waves-effect waves-light btn-small"><i class="material-icons right">edit</i>Edit</a>
				<a class="waves-effect waves-light btn-small"><i class="material-icons right">home</i>Home</a>
			</div>
		</div>
	</div>
</body>
{% endblock %}

{%block javascript %}
<script src={% static "main/js/finish_recipe.js" %}></script>
<script src={% static "main/js/mstepper.min.js" %}></script>

{% endblock %}