{% extends 'main/layout.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="static/main/css/hearted.css">
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<h1>hearted</h1>
<div class="container">
        <div class="carousel">
        {% for recipe in recipes %}
            <a href="#one!" class="carousel-item">
                <div class="Home_container">
                    <div class="photo photo1">
                            <div class="min">
                                <h3>50</h3>
                                <span>mins</span>
                            </div>
                            <div class="heart_icon">
                                    <i class="material-icons hearted">favorite</i>
                            </div>
                            <div class="Title">
                                <h3>{{recipe.title}}</h3>
                            </div>
                    </div>
                </div>
         {% endfor %}
        </div>
 </div>


 

{% endblock %}
{%block javascript %}
 <script src="static/main/js/hearted.js"></script>
 {% endblock%}