{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href={% static "main/css/home.css" %}>
{% endblock %}

{% block content %}
<br>
<br>
<!-- <div class="container">
    <div class="carousel">
    {% for recipe in recipes %}
        <a href="{% url 'follow_steps' recipe.id %}" class="carousel-item">
            <div class="Home_container">
                <div class="photo" style="background-image: url({{recipe.image.url}})">
                        <div class="min">
                            <h3>{{recipe.estDuration}}</h3>
                            <span>mins</span>
                        </div>
                        <div class="heart_icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="Title">
                            <h3>{{recipe.title}}</h3>
                        </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div> -->
<br>
<br>
<br>
<br>
<br>

<div class="side_container">
    
</div>


{% endblock %}