{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- import icons -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- matereliaze css -->
    <link rel="stylesheet" href={% static "main/css/materialize.css" %}>
    <link rel="stylesheet" href={% static "main/css/menu.css" %}>
    {% block stylesheet %}{% endblock %}
</head>
<body id="body">
    <div class="Mnavbar">
        <div class="Mnav_container">
            <div class="logo">
                <a href={% url 'Home' %}>
                <img class="responsive-img logoimg" src={% static "main/img/recipetop_logo.PNG" %}>
                </a>
            </div>
            <div class="time">
                <h4 id="time"></h4>
            </div>
        </div>
    </div> 
    <div id="MenuIcon">
        <div id="MenuLine"></div>
    </div>
    <div id="MainMenu">
        <div id="logo">
            <img>
        </div>
        <ul class="collapsible" id="uls">
            <li>
                <a href={% url 'Home' %} class="link-home">
                <div class="collapsible-header teal lighten-3"><i class="material-icons">home</i>Home</div>
                </a>
                
            </li>
            <li>
                <div class="collapsible-header teal lighten-2">
                    <i class="material-icons">assignment</i>Recipes
                </div>
                
                <div class="collapsible-body teal lighten-3">
                        <a href={% url 'create' %} class="waves-effect active blue-grey darken-1 link-teal-lightest">Create<i class=" waves-effect material-icons icon-teal-lightest">create</i></a>
                        <a href={% url 'search' %} class="waves-effect active blue-grey darken-1 link-teal-lightest">Search<i class="material-icons icon-teal-lightest">search</i></a>
                        <a href={% url 'hearted' %} class="waves-effect active blue-grey darken-1 link-teal-lightest">Hearted<i class="material-icons icon-teal-lightest">favorite</i></a>
                </div>
            </li>

            <li>
                <div class="collapsible-header teal lighten-1 "><i class="material-icons">account_circle</i>Account</div>
                <div class="collapsible-body teal lighten-2">
                        <!-- <a href="" class="waves-effect active blue-grey darken-1 link-teal-dark">Account<i class="material-icons icon-teal-dark">account_circle</i></a>
                        <a href="" class="waves-effect active blue-grey darken-1 link-teal-dark">Settings<i class="material-icons icon-teal-dark">settings</i></a> -->
                        <!-- <a href={% url 'search' %} class="waves-effect active blue-grey darken-1 link-teal-lightest">Search<i class="material-icons icon-teal-lightest">search</i></a>
                        <a href="" class="waves-effect active blue-grey darken-1 link-teal-lightest">Hearted<i class="material-icons icon-teal-lightest">favorite</i></a> -->
                        <a href='#modal1'class="waves-effect active blue-grey darken-1 link-teal-lightest modal-trigger">User<i class="material-icons icon-teal-lightest">account_circle</i></a>
                        <a href='#modal2'class="waves-effect active blue-grey darken-1 link-teal-lightest modal-trigger">Search<i class="material-icons icon-teal-lightest">settings</i></a>
                </div>
            </li>
        </ul>
        <div id="close">
            <img>
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Modal Header 2</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
                

    
        {% block content %}


        {% endblock %}
    

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src={% static "main/js/materialize.min.js" %}></script>
    <script src={% static "main/js/menu.js" %}></script>
    
    {% block javascript %}
    {% endblock %}
</body>
</html>


