{% extends 'main/layout.html' %}
{% load static %}
{% load pass_params %}

{% block title %}Search Recipes{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href={% static "main/css/search.css" %}>
<link rel="stylesheet" href={% static "main/css/gallery-materialize.min.css" %}>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<!--
<div class="container">
    <div class="grid">
        {% for recipe in hearted %}
        <div class="card" id={{recipe.id}}>
            <div class="card-image">
                {% if recipe.image %}
                <img src="{{recipe.image.url}}">
                {% endif %}
                <span class="card-title">{{recipe.title}}</span>
            </div>
            <div class="card-content">
                <div class="heart_icon">
                    <i class="material-icons hearted">favorite</i>
                </div>
                <p>{{recipe.description}}</p>
                <p>Number of steps: {{recipe.steps.all.count}}</p>
                <p>Ingredients:</p>
                {% for ing in recipe.recipetoingredient_set.all %}
                    <p>name: {{ing.ingredient.name}}</p>
                    <p>unit: {{ing.unit}}</p>
                    <p>quantity: {{ing.quantity}}</p>
                {% endfor %}
            </div>
            <div class="card-action">
                <h3>card action section</h3>
            </div>
        </div>
        {% endfor %}

        {% for recipe in recipes %}
        <div class="card" id={{recipe.id}}>
            <div class="card-image">
                {% if recipe.image %}
                <img src="{{recipe.image.url}}">
                {% endif %}
                <span class="card-title">{{recipe.title}}</span>
            </div>
            <div class="card-content">
                <div class="heart_icon">
                    <i class="material-icons hearted">favorite_border</i>
                </div>
                <p>{{recipe.description}}</p>
                <p>Number of steps: {{recipe.steps.all.count}}</p>
                <p>Ingredients:</p>
                {% for ing in recipe.recipetoingredient_set.all %}
                    <p>name: {{ing.ingredient.name}}</p>
                    <p>unit: {{ing.unit}}</p>
                    <p>quantity: {{ing.quantity}}</p>
                {% endfor %}
            </div>
            <div class="card-action">
                <h3>card action section</h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
-->


<!-- <div class="container">
    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            <h3>Search</h3>
            <label for="difficulty">Difficulty</label>
            <input type="text" name='difficulty' value="{{ values.difficulty}}">
            <hr>
            <label for="rating">Rating</label>
            <input type="text" name='rating' value="{{values.rating}}">
            <hr>
            <button type="submit">Submit</button>
        </form>
    </div>
</div> -->


<!-- 
{% for i in filter%}
<h1> {{i.title}}={{i.difficulty}} : {{i.rating}}</h1>

{% endfor %} -->
<input type="text" id="input" onkeyup='recipe_search()'>

<div id="portfolio" class="section gray">
    <div class="container">
        <div class="gallery row">
            <!--
            {% for recipe in hearted %}

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                <a class="gallery-cover gray card-image">
                    {% if recipe.image %}
                    <img class="responsive-img" src="{{recipe.image.url}}">
                    {% else %}
                    <img class="responsive-img" src="http://placehold.it/350x250" alt="placeholder">
                    
                    {% endif %}
                </a>
                
                <div class="gallery-header">
                    <div class="ingredient_title">
                        <span class= "title">{{recipe.title}}</span>
                    </div>
                    <br>
                    <div class="ingredient_props">
                        <div>
                            <i class="material-icons">library_books</i>
                            
                        </div>
                        <div class="prop2"><i class="material-icons hearted">schedule</i></div>
                        <div class="prop1"><i class="material-icons hearted ">local_dining</i></div>
                        <div class="prop2"><i class="material-icons hearted" id="hearted_{{recipe.id}}_prop">favorite</i></div>
                    </div>
                </div>
                
                <div class="gallery-body">
                        <div class="title-wrapper">
                            <h3>{{recipe.title}} {% check_hearted recipe.id %}</h3>
                            <span class="price">steps:{{recipe.steps.all.count}}</span>
                        </div>
                        <h3>Ingredients</h3>
                        <div class="ingredient">
                        {% for ing in recipe.recipetoingredient_set.all %}
                            <p>name: {{ing.ingredient.name}}</p>
                            <p>unit: {{ing.unit}}</p>
                            <p>quantity: {{ing.quantity}}</p>
                        {% endfor %}
                        </div>
                        <h2>description</h2>
                        <p class="description">
                                {{recipe.description}}
                        </p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo modi vel autem ducimus atque eligendi dolores repellat, temporibus, animi eum quis deserunt placeat exercitationem praesentium eaque at rerum aperiam soluta?</p>
                </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect pink"><i class="material-icons hearted" id="hearted_{{recipe.id}}">favorite</i></a>
                        <a href="{% url 'follow_steps' recipe.id %}" class= "btn-floating btn-large waves-effect green"><i class="material-icons">check</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

            -->

            {% for recipe in recipes %}
            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                <div class="gallery-curve-wrapper">
                <a class="gallery-cover gray card-image">
                    {% if recipe.image %}
                    <img class="responsive-img" src="{{recipe.image.url}}">
                    {% else %}
                    <img class="responsive-img" src="http://placehold.it/350x250" alt="placeholder">
                    <!-- <div class="circle">circle</div> -->
                    {% endif %}
                </a>
                <!-- card title -->
                <div class="gallery-header">
                   <div class="ingredient_title">
                        <span class= "title">{{recipe.title}}</span>
                   </div>
                   <br>
                   <div class="ingredient_props">
                       <div>
                            <i class="material-icons">library_books</i>
                            <!-- <span><i class="material-icons hearted ">note</i>steps:{{recipe.steps.all.count}}</span> -->
                       </div>
                        <div class="prop2"><i class="material-icons hearted">schedule</i></div>
                        <div class="prop1"><i class="material-icons hearted ">local_dining</i></div>
                        <div class="prop2"><i class="material-icons hearted" id="hearted_{{recipe.id}}_prop">{% check_hearted recipe.id %}</i></div>
                   </div>
                </div>
                <!-- inside the card stuff -->
                <div class="gallery-body">
                        <div class="title-wrapper">
                          <h3>{{recipe.title}}</h3>
                        
                        </div>
                        <div class="content-wrapper">
                            <p class="description">
                                    {{recipe.description}}
                            </p>
                            <h4>Ingredients</h4>
                            <div class="ingredient">
                                <table class="ingredients_table">
                                    <tr>
                                    {% for ing in recipe.recipetoingredient_set.all %}
                                    <td>
                                        <label>
                                            <input type="checkbox" value="{{ing.ingredient.name}}" name="ingredients"/>
                                                <span>{{ing.quantity}} {{ing.get_unit}} {{ing.ingredient.name}}  </span>
                                        </label>
                                    </td>
                                    {% cycle "" ""  "</tr><tr>" %}
                                    {% endfor %}
                                    </tr>

                                </table>

                            </div>


                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo modi vel autem ducimus atque eligendi dolores repellat, temporibus, animi eum quis deserunt placeat exercitationem praesentium eaque at rerum aperiam soluta?</p>
                        </div>
                </div>
                    <div class="gallery-action">
                        <a class="btn-floating btn-large waves-effect pink"><i class="material-icons hearted" id="hearted_{{recipe.id}}">{% check_hearted recipe.id %}</i></a>
                        <a href="{% url 'follow_steps' recipe.id %}" class= "btn-floating btn-large waves-effect green"><i class="material-icons">check</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src={% static "main/js/hearted.js" %}></script>


<script src={% static "main/js/search.js" %}></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src={% static "main/js/gallery/materialize.min.js" %}></script>
<script src={% static "main/js/gallery/masonry.pkgd.min.js" %}></script>
<script src={% static "main/js/gallery/galleryExpand.js" %}></script>
<script src={% static "main/js/gallery/init.js" %}></script>
<script src={% static "main/js/gallery/color-thief.min.js" %}></script>
<script src={% static "main/js/gallery/imagesloaded.pkgd.min.js" %}></script>



{% endblock %}