{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900i" rel="stylesheet">
    <link rel="stylesheet" href={% static "main/css/materialize.css" %}>
    <link rel="stylesheet" href={% static "main/css/users.css" %}>
    
    <title>User Selection</title>
</head>
<body>
<div class="top"></div>
<!-- Users -->
<div class="Micontainer">
    <div class="title">
        <h3>Who's cooking?</h3>
    </div>
    <div class="users">
         {% for user in users %}
            <div class="user" id={{user.id}}>
                <div class="user_profile" id={{user.id}}>
                </div>
                <div class='user_name'>
                        <h5 id={{user.id}} class="names">{{user.userName}}</h5>
                </div>
                <div class="prefences">
                    <img class="prefences_img img1"src="../../static/main/img/cheese-{{user.check_cheese}}.svg">
                    <img class="prefences_img img1"src="../../static/main/img/steak-{{user.check_steak}}.svg">
                    <img class="prefences_img img1"src="../../static/main/img/fastfood-{{user.check_fastfood}}.svg">
                    <img class="prefences_img img2"src="../../static/main/img/cupcake-{{user.check_cupcake}}.svg">
                    <img class="prefences_img img2"src="../../static/main/img/broccoli-{{user.check_broccoli}}.svg">
                    <img class="prefences_img img2"src="../../static/main/img/apple-{{user.check_apple}}.svg">
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="continue">
        <h4 id="msg">Continue </h4>
    </div>
</div>
   <!-- Modal Trigger -->
   <div class="add_user">
        <button data-target="modal1" class="btn modal-trigger red lighten-2 add_usr waves-effect">Add User</button>
  </div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <form action="{% url 'users' %}" method="POST">
        {% csrf_token %}
        <div class="modal-content">
           
                <input type="text" placeholder="name" name="name" required>
                <input type="text" placeholder="age" name="age" required>
                <div class="pref_title">
                    <h3 class="pref_title">Preferences</h3>
                </div>
                <div class="choices_container">
                    <div class="img_cont">
                            <img class="choices_img" src="../../static/main/img/cheese-un.svg">
                            <span>Dairy</span>
                    </div>
                    <div class="img_cont">
                            <img class="choices_img" src="../../static/main/img/steak-un.svg">
                            <span>Meat</span>
                    </div>
                    <div class="img_cont">
                            <img class="choices_img"  id="jf" src="../../static/main/img/fastfood-un.svg">
                            <span>Junk-food</span>
                    </div>
                    <div class="img_cont">
                            <img class="choices_img" src="../../static/main/img/cupcake-un.svg">
                            <span>Sweets</span>
                    </div>
                    <div class="img_cont">
                            <img class="choices_img" src="../../static/main/img/broccoli-un.svg">
                            <span>Vegetarian</span>
                    </div>
                    <div class="img_cont">
                            <img class="choices_img" src="../../static/main/img/apple-un.svg">
                            <span>Fruits</span>
                    </div>
                </div>
                <div class="hidden">
                    <input type="text" id="cheese" name="cheese" value="false">
                    <input type="text" id="steak" name="steak" value="false">
                    <input type="text" id="fast_food" name="fast_food" value="false">
                    <input type="text" id="cupcake" name="cupcake" value="false">
                    <input type="text" id="brocoli" name="brocoli" value="false"> 
                    <input type="text" id="apple" name="apple" value="false">
                </div>
            
        </div>
        <div class="modal-footer">
            <!--a href="#!" class="modal-close waves-effect btn-flat center teal white-text">Close</a-->
            <button type="submit" class="modal-close waves-effect btn-large teal white-text">Add!</button>
            <br>
        </div>
    </form>
</div>

<script src={% static "main/js/users.js" %}></script>
<script src={% static "main/js/materialize.min.js" %}></script>

</body>
</html>