
body{
    height:100vh;
    width:100vw;
    margin:0;
}

.ending_container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh; 
    background:#b0bec5;
}
.box_container{
    width:60vw;
    height:80vh;
    padding: 5px 10px;
    background:white;
    margin:auto;
    border-radius: 2px;
}

.message{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:20%;
    width:100%;
    flex-flow:column;
    margin-bottom: 5%;
}
.feedback_msg{
    text-align: center;
    margin-bottom: 5%;
}
.message >h6{
    font-family:'Fira Sans', sans-serif;
    display: block;
    font-weight: 900;
}
.star{
    margin: 0 auto;
    display:grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
    width:90%;
    height:15%;
    justify-items: center;
    align-items:start;
    margin-bottom: 5%;
}
.difficulty{
    margin: 0 auto;
    display:grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
    width:90%;
    height:15%;
    justify-items: center;
    align-items:start;
    margin-top: 5%;
}
.stars{
    height:70%;
    width:70%;
}
.cakes{
    height:70%;
    width:70%; 
}
.cakes:hover{
    cursor:pointer;
}
.stars:hover{
    cursor:pointer;
}
.difficulty{

}
/* .star1{
    background:yellow;
    grid-row:1/4;
}
.star2{
    grid-row:1/5;
    background:purple;
    height:20vh;
}
.star3{
    grid-column:1/3;
    background:green;
}
.star4{
    grid-column:1/3;
    background:purple;
}
.star5{
    grid-column:1/3;
    background:orange;
} */

.star1{
    margin-bottom: 5px;
}
.star2{

}
.star3{

}

.bottom_button{
    display:grid;
    margin:0 auto;
    margin-right:20%;
    margin-left:20%;
    grid-template-columns: .5fr .5fr;
    grid-column-gap: 20%;
    margin-top:2%;
}
.bottom_button button{
    width:20% !important;
    justify-self: center;
    border-radius: 12px !important;
}