body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  height: 1000px;
}

icon-teal-lightest {
  color: #80cbc4;
}

.link-teal-lightest {
  color: #80cbc4;
  width: 100%;
  height: 80%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.link-teal-lightest .link-teal-dark {
  color: #4db6ac;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.link-home {
  color: #000000;
}

.Mnavbar {
  position: fixed;
  height: 13vh;
  width: 100%;
  z-index: 100;
}
.Mnavbar .Mnav_container {
  margin: 0 auto;
  display: grid;
  align-content: center;
  grid-template-columns: 4fr 1fr;
  background: white;
  width: 100%;
  height: 100%;
  grid-column-gap: 5px;
  box-shadow: 0 2px black;
}
.Mnavbar .Mnav_container .logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  padding-left: 230px;
}
.Mnavbar .Mnav_container .logo .logoimg {
  width: 400px;
  height: 112px;
}
.Mnavbar .Mnav_container .time {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 50px;
  padding-left: 80px;
}
.Mnavbar .Mnav_container .time #time {
  color: black;
}
.Mnavbar .Mnav_container div {
  width: 100%;
  height: 100%;
}

#MenuIcon {
  height: 25px;
  width: 50px;
  position: fixed;
  top: 7%;
  left: 5%;
  z-index: 101;
  padding: 20px 20px;
}
#MenuIcon:hover {
  cursor: pointer;
}
#MenuIcon:hover #MenuLine {
  width: 40px;
}
#MenuIcon:hover #MenuLine::before {
  width: 50px;
}
#MenuIcon:hover #MenuLine::after {
  width: 50px;
}

#MenuLine {
  height: 4px;
  width: 50px;
  background-color: #181818;
  position: absolute;
  z-index: 102;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
#MenuLine::before {
  content: "";
  height: 4px;
  width: 40px;
  background-color: #181818;
  position: absolute;
  margin-top: 10px;
  transition: all 0.3s;
}
#MenuLine::after {
  content: "";
  height: 4px;
  width: 40px;
  background-color: #181818;
  position: absolute;
  margin-top: -10px;
  transition: all 0.3s;
}

#MainMenu {
  height: 100vh;
  width: 300px;
  background-color: #cfd8dc;
  -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.5s ease-in-out;
  z-index: 102;
}
#MainMenu #logo {
  height: 75px;
  width: 75px;
  background-image: url("../img/user.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#MainMenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: arial;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#MainMenu ul li {
  width: 100%;
}
#MainMenu ul li:hover {
  cursor: pointer;
}
#MainMenu ul li:hover div:hover {
  cursor: pointer;
}

#logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

#close {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  border: none !important;
  background-image: url("../img/Close.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#close:hover {
  cursor: pointer;
}

#menustart {
  left: 0px;
}

#menumove {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#menu_icon_del {
  animation: right 3s;
}

@keyframes right {
  to {
    right: 200;
  }
}
section {
  height: 10000px;
  overflow: scroll;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible > li {
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
  box-shadow: 0px;
}

.account i{
  vertical-align: bottom;
  font-size: 27px;
  margin-left:5%;
}

.collapsible-body {
  padding: none !important;
}

.preferences{
  margin: 0 auto;
  text-align: center;
}

.icons{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.icons img{
  width: 40%;
  /* height: 100%;  */
  margin-bottom: 5%;
}
.hidden{
  display:none;
}
.img_cont{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
}
.img_cont span{
  align-self: center;
} 
#prf-btn{
  text-align: center !important;
}
/* #jf{
  width: 38%;
  height: 35%;
}

.choices_container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 100px 100px;
  grid-row-gap: 8%;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  padding-top: 2%;
}
.choices_container img {
  width: 50%;
  height: 35%;
}

.img_cont{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
}
.img_cont span{
  align-self: center;
} */
/*# sourceMappingURL=menu.css.map */
