
//icons on card
.ingredient_props{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
    align-items: center;
 }

 .ingredient_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .float_heart{
     position: absolute;
     top:2%;
     right:2%;
     z-index: 5;
     color:pink;
     font-size: 45px;
     vertical-align: bottom;
  }


  .ingredient_props span{
   vertical-align: top;
   margin-left:2px;
  }

.serving_size{
   color:#ff6f00;
}
.cook_time{
   color:#ff6f00;
}
.utensils{
   color:#ff6f00;
}